<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>Partidas Activas</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content >

    <ion-list class="ion-padding">
        <ion-item-sliding *ngFor="let match of activeMatches">
        
            <ion-card>             
                <button ion-item (click)="loadRunningGame(match)">
                  
                   ID Partida: {{match}} 
                   Estado: {{matchStatus}}
               
                </button>  
            </ion-card>
         
        </ion-item-sliding>
      </ion-list>

</ion-content>




<ion-footer (click)="createNewGame()" >
    <ion-toolbar color="secondary">
      <ion-title style="text-align: center">Nueva Partida</ion-title>
    </ion-toolbar>
</ion-footer>

   
