<ion-header>
  <ion-toolbar>
    <ion-title>Partidas Activas</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content >

    <ion-list class="ion-padding">
        <ion-item-sliding *ngFor="let match of activeMatches">
          
            <ion-card class="card" (click)="loadRunningGame(match)">       
                   <b>ID Partida:</b> {{match}} <br/>
                   <b>Estado:</b> {{matchStatus}}
               
            </ion-card>
         
        </ion-item-sliding>
      </ion-list>

</ion-content>

<ion-footer (click)="createNewGame()" >
    <ion-toolbar color="tertiary">
      <ion-title style="text-align: center">Nueva Partida</ion-title>
    </ion-toolbar>
</ion-footer>

   
