.tablero {
    background-color: #e0b7ff;
    color: black;
    border-radius: 3px;
    margin-left: 10px;
}

<<<<<<< HEAD
ion-footer {
    margin-top: 5px;
}
=======
>>>>>>> 3213f3b033797f961eab63166eab393d6ebfd3ff
