<ion-header>
  <ion-toolbar>
    <ion-title>Estadisticas</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-grid>
    <ion-row>
      <ion-col text-center>Ratio de aciertos en votos: {{avg}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>Partidas jugadas: {{playedMatches}}</ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col text-center>Partidas ganadas: {{wins}}</ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col text-center>Ratio de partidas ganadas: {{winRatio}}</ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col text-center>Ultima partida: {{lastMatch | json}}</ion-col>
    </ion-row>
  
  </ion-grid>  
  
  
</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="medium">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
