<ion-header>
  <ion-toolbar>
    <ion-title>Estadisticas</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-grid>
    <ion-row>
      <ion-col text-center>Ratio de aciertos en votos:<b> {{avg}}</b></ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col text-center>Partidas jugadas:<b> {{playedMatches}}</b></ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col text-center>Partidas ganadas:<b> {{wins}}</b></ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col text-center>Ratio de partidas ganadas:<b> {{winRatio}}</b></ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col text-center>Ultima partida:<b> {{lastMatch}}</b></ion-col>
    </ion-row>
  
  </ion-grid>  
  
  
</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="medium">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
