<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home 
     
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-label style="font-weight: bold" *ngIf="pendingRequests"> Solicitudes Pendientes: {{ pendingRequests.length }}</ion-label> 
 

<ion-content>
    <ion-searchbar
      showcancelbutton=""
      (input)="filterList($event)"
    ></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of goalList">
        <ion-label>{{ item.email }}</ion-label><ion-button (click)="addFriend(item.userId, item.email)" color="success">Add</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>


<ion-content padding>
  <ion-button expand="block" (click)="scheduleNotification()">Notification Test</ion-button>
  <ion-button expand="block" (click)="goDashboard()">Dashboard</ion-button>
  <ion-button expand="block" (click)="goMyFriends()">My Friends</ion-button>
</ion-content>



<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
