<ion-header>
  <ion-toolbar>
    <ion-title slot="start">  Home   </ion-title> 
    <ion-title slot="end" style="font-size: 12px" > Hola: {{ currentUserEmail }}</ion-title>
  </ion-toolbar>
  
</ion-header>
<br/>

<ion-label class="solicitudes" style="font-weight: bold" *ngIf="pendingRequests"> Solicitudes Pendientes: {{ pendingRequests.length }}</ion-label> 
 

<ion-content>
    <ion-searchbar color="light"
      showcancelbutton=""
      (input)="filterList($event)"
    ></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of goalList2">
        <ion-label>{{ item.email }}</ion-label><ion-button (click)="addFriend(item.userId, item.email)" color="success">Add</ion-button>
      </ion-item>
    </ion-list>
</ion-content>



<ion-content> 
  <ion-item *ngFor="let invitation of pendingInvitations">    
    <ion-label>   
      <h2 >{{ invitation }}</h2>  
    </ion-label> <ion-button (click)="addUserToMatch(invitation)" color="success">Aceptar</ion-button> <ion-button (click)="rejectFriend(requestId)" color="danger">Rechazar</ion-button>
  </ion-item>
</ion-content>


<ion-content class="content" padding>
  <ion-button color="tertiary" expand="block" (click)="goMyFriends()">Mis Amigos</ion-button>
  <ion-button color="tertiary" expand="block" (click)="goMatchList()">Ver mis Partidas</ion-button>
  <ion-button color="tertiary" expand="block" (click)="goDashboard()">Mis estadisticas</ion-button>
</ion-content>




<ion-footer (click)="logout()">
  <ion-toolbar color="medium">
    <ion-title><i class="fas fa-sign-out-alt"></i>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
