<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item-sliding *ngFor="let user of users">
        <ion-item >
          <ion-label>
            {{user.name}}       
          </ion-label>
          <ion-label>
            {{user.email}}
          </ion-label>
        </ion-item>
      </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-content padding>
  <ion-button expand="block" (click)="scheduleNotification()">Schedule</ion-button>
</ion-content>

<ion-content padding>
  <ion-button expand="block" (click)="goDashboard()">Dashboard</ion-button>
</ion-content>



<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
